{% extends "layouts/base.html" %}

{% block meta_title %} | Documentation{% endblock meta_title %}
{% block meta_description %}Google Drive content management system (CMS) documentation. Adjust settings within the CMS and learn how to extend it to help create content for your website straight from Google Drive{% endblock meta_description %}


{% block content %}
    {% set hero_details = { title: "Documentation", breadcrumbUrl: "/documentation", deck: "The <strong>Google Drive CMS</strong> is a content management system (CMS) built on an interface everyone understands."} %}
    {% include "includes/components/_standard_hero.html" %}
    <article class="row documentation section-padding">
        <div class="container">
            <section class="col s12 m9 documentation__body">
                {{readme.content|safe}}
            </section>
            <section class="col hide-on-small-only m3 documentation__contents">
                <ul class="table-of-contents section">
                    {% for header in readme.headers %}
                        <li><a href="#{{header.id}}">{{header.title}}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </article>
{% endblock %}

{% block extrajs %}
<script src="/js/documentation.js"></script>
{% endblock %}