{% extends "layouts/base.html" %}

{% block meta_title %} | Examples{% endblock meta_title %}
{% block meta_description %}Google Drive content management system (CMS) examples. Examples and practical case studies that teach you how to use Google Drive to create content for your website{% endblock meta_description %}

{% block content %}
    {% set hero_details = { title: "Examples", breadcrumbUrl: "/examples", deck: "Practical implementations of the <strong>Google Drive CMS</strong> workflow."} %}
    {% include "includes/components/_standard_hero.html" %}
    <article class="row examples section-padding">
        <div class="container">
            <div class="col l4 m6 s12">
                <section class="card white">
                    <div class="card-image">
                        <img src="/img/examples/firebase.png" alt="Google Drive CMS &amp; Firebase">
                        <span class="card-title">Google Drive CMS &amp; Firebase</span>
                    </div>
                    <div class="card-content">
                        <p>Using Firebase to create an instance of the Google Drive CMS without the need to write server side code to handle the JSON payload.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://words.mxbry.com/how-i-used-google-drive-and-firebase-to-give-my-static-site-a-cms-7226e01a51b5#.umrt2gwpz">Integrating with Firebase</a>
                    </div>
                </section>
            </div>
            <div class="col l4 m6 s12">
                <section class="card white">
                    <div class="card-image">
                        <img src="/img/examples/demo_spreadsheet.png" alt="Demo Spreadsheet for a simple blog">
                        <span class="card-title">Demo Spreadsheet for a simple blog</span>
                    </div>
                    <div class="card-content">
                        <p>A demo spreadsheet for a blog application sending its content to a Firebase endpoint.</p>
                        <br>
                    </div>
                    <div class="card-action">
                        <a href="https://docs.google.com/spreadsheets/d/12BJi_Ln7z5Q5KIuJcPNwPRKwUQg3G7B7NNO7APFWUQk/edit?usp=sharing">Check out the demo</a>
                    </div>
                </section>
            </div>
        </div>
    </article>
{% endblock %}

{% block extrajs %}
{# <script src="/js/documentation.js"></script> #}
{% endblock %}