<footer class="page-footer">
    <div class="container">
        <div class="row white-text">
            <div class="col m7 s12">
                <h5>About this project</h5>
                <p class="light grey-text text-lighten-4">Do you like this project and want to keep up to date on its progress?</p>
                {% include "includes/components/_signupform.html" %}
            </div>
            <div class="col offset-m1 m4 s12">
                <h5>Useful links</h5>
                <ul>
                    {% for link in navigation.footer %}
                    <li><a href="{{link.url}}" class="white-text --hover-underline light grey-text text-lighten-4" {% if link.blank %}target="_blank" {% endif %}>&raquo; {{link.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4 --hover-underline" href="">Made by Max</a>
        </div>
    </div>
</footer>
