<section class="section grey lighten-3 section-padding">
    <p class="container flow-text">The Google Drive CMS is a Google Sheet with custom <a href="https://developers.google.com/apps-script/articles" target="_blank">Apps Scripts</a>. These scripts add a new menu option to <strong>publish the content of that spreadsheet to a URL endpoint</strong> you provide. At that endpoint handle the incoming JSON as you will, by - for example - saving the content to your database.</p>
</section>
<section class="section getting_started no-pad-bot">
    {% for instruction in instructions %}
        {% include "includes/components/_instruction.html" %}
    {% endfor %}
    <div class="grey lighten-3 section-padding getting_started__step --final valign-wrapper">
        <div class="container valign">
            <h3>Hit <strong class="success-text">publish</strong> from the main toolbar</h3>        
        </div>
    </div>
</section>
