<section class="next_steps section-padding no-pad-bot valign-wrapper">
    <div class="next_steps__wrapper container row valign section-padding">
        <div class="col m6">
            <h2 class="--no-margin --thick">Next Steps <span class="thin accent-text">&raquo;</span></h2>
        </div>
        <dl class="col m6 --no-margin">
            <dt><h4 class="thin">Documentation</h4></dt>
            <dd class="light --no-margin">Fairly complete documentation for the various settings found within the sheet.<br><a href="">Read the documentation</a></dd>
            <dt class="divider"></dt>
            <dt><h4 class="thin">Firebase example</h4></dt>
            <dd class="light --no-margin">Connecting the CMS directly to Firebase to remove the need for a server endpoint.<br><a href="">Integrate with firebase</a></dd>
        </dl>
    </div>
</section>