<form id="mailing-list-signup" class="row" action="//mxbry.us6.list-manage.com/subscribe/post?u=1d2b23c8bb5f34f9fdc9b70f9&amp;id=7ac63c10c9" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="input-field s12 m6 l6 col">
        <input id="email" type="email" class="validate" name="EMAIL" required>
        <label for="email" data-error="Hmm... this email doesn't quite look right">Email</label>
    </div>
    <div class="input-field s12 m6 l6 col">
        <select id="subscribeTo" name="SUBTO">
            <option value="Just this project" selected>Just this project</option>
            <option value="All projects from mxbry.com">This and other projects from mxbry.com</option>
        </select>
        <label id="subscribeTo">Subscribe me to</label>
    </div>
    <div class="input-field s12 m12 l12 col">
        <button class="btn waves-effect waves-light z-depth-0 grey lighten-2 black-text" type="submit" name="action">Subscribe<i class="material-icons right">email</i></button>
    </div>
    <input type="hidden" name="PROJECT" tabindex="-1" value="Google Drive CMS">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_1d2b23c8bb5f34f9fdc9b70f9_7ac63c10c9" tabindex="-1" value="">
    </div>
</form>
