<section class="hero valign-wrapper section-padding">
    <div class="container center-align hero__wrapper valign">
        <h1 class="hero__title white-text">The Google Drive CMS</h1>
        <h5 class="light white-text hero__subtitle">A content management system (CMS)<br> built on an interface everyone understands.</h5>
        <br><br>
        {% include "includes/components/_add-to-drive.html" %}
        <br><br>
        <a href="#getting-started" class="white-text --hover-underline">How does it work</a>
    </div>
</section>
