<section class="section grey lighten-3 section-padding" data-fix-max-height id="getting-started">
    <div class="container flow-text">
        <p>The Google Drive CMS is a Google Sheet with a custom menu option to <strong>publish the content of that spreadsheet to your site's API</strong>. <span class="hide-on-small-only">Using this workflow you could send the contents of your Google Sheet <span class="primary-text" data-type-target></span></span></p>
    </div>
</section>
<section class="section getting_started no-pad-bot">
    {% for instruction in instructions %}
        {% include "includes/index/_instruction.html" %}
    {% endfor %}
    <div class="grey lighten-3 section-padding getting_started__step --final valign-wrapper">
        <div class="container valign">
            <h3>Hit <strong class="success-text">publish</strong> from the main toolbar</h3>
        </div>
    </div>
</section>
