<section class="next_steps section-padding no-pad-bot valign-wrapper">
    <div class="next_steps__wrapper container row valign">
        <div class="col s12 m6">
            <h2 class="--no-margin --thick">Next Steps <span class="thin accent-text hide-on-small-only">&raquo;</span></h2>
        </div>
        <ul id="nextSteps" class="col s12 m6 --no-margin">
            <li>
                <h4 class="thin">Documentation</h4>
                <p class="light --no-margin">Fairly complete documentation for the various settings found within the sheet.<br><a href="">Read the documentation</a></p>
            </li>
            <li class="divider"></li>
            <li>
                <h4 class="thin">Firebase example</h4>
                <p class="light --no-margin">Connecting the CMS directly to Firebase to remove the need for a server endpoint.<br><a href="">Integrate with firebase</a></p>
            </li>
        </ul>
    </div>
</section>