// Colors
$primary-color: color("teal", "base");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("amber", "accent-3");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");

$grey-light: color("grey", "lighten-4");
$grey-dark: color("grey", "darken-3");

$input-border-color: color("grey", "lighten-3");


// Dimensions
$master-padding: 55px;