// Colors
$primary-color: color("teal", "base");
$primary-color-light: color("teal", "lighten-2");
$primary-color-dark: color("teal", "darken-2");

$secondary-color: color("amber", "accent-3");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");

$grey-light: color("grey", "lighten-4");
$grey-dark: color("grey", "darken-3");
$grey-soft: #fafafa;

$input-border-color: color("grey", "lighten-3");


// Dimensions
$master-padding: 55px;